.content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    flex-direction: column;
    margin: 2rem;
  }

.delete_button{
  visibility: hidden;
  color: gray;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
}
a{
  padding: 5px;
  margin:0px;
  text-decoration: none;
  color: inherit;
}
a:active{
padding: 10px;
}
