.content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    flex-direction: column;
    margin: 2rem;
  }

.delete_button{
  display: none;
  color: gray;
  cursor: pointer;
  align-items: center;
  justify-content: center;

}
a{
  padding: 0px;
}
